extends ../layouts/layout-default

block stylesheet
  link(rel='stylesheet', href='/styles/customer.css', type='text/css' )

block scripts
  script(type='text/javascript',src="/js/libs/spin.js")
  script(type='text/javascript',src="/js/libs/spin.jquery.js")
  script(type='text/javascript',src="/js/sfconn/changeSetInfo.js")

block content
  input#sfconnId(type="hidden",value="#{sfconn._id}")
  input#csId(type="hidden",value="#{changeSet._id}")
  .container
    .panel
      .panel-heading 
        .col-md-10
          h2.pull-left #{title}
            small (#{sfconn.orgName})
      .panel-body
        .row
          .row 
            .col-md-4
              h4 Files
                if changeSet.archiveStatus == 'block'
                  button.btn.btn-xs.btn-warning(type="button",style="margin-left:4px;",disabled=true) Edit
                    em (Archived . You can't edit this ChangeSet files.)
                else
                  button.btn.btn-xs.btn-info(type="button",style="margin-left:4px;",onclick="window.open('/sfconn/#{sfconn._id}/changeSets?csId=#{changeSet._id}','_self')") Edit
            .col-md-7.pull-right(style="padding-top: 3px;text-align:center;")
              //if changeSet.archiveStatus=='block'
              //  button.btn.btn-sm.btn-warning(type="button",style="margin-left:4px;",title="The last archive action in processing.") Archive
              //else
              button.btn.btn-sm.btn-primary.archive(type="button",style="margin-left:4px;",data-toggle="modal",data-target="#single-name") Archive
              if changeSet.validateStatus!='block'&&changeSet.deployStatus!='block'
                button.btn.btn-sm.btn-primary.validate(type="button",style="margin-left:4px;",data-toggle="modal",data-target="#single-select") Validate
                button.btn.btn-sm.btn-primary.deploy(type="button",style="margin-left:4px;",data-toggle="modal",data-target="#single-select") Deploy
              else
                button.btn.btn-sm.btn-warning(type="button",style="margin-left:4px;",title="This is an validation/deployment in processing.") Validate
                button.btn.btn-sm.btn-warning(type="button",style="margin-left:4px;",title="This is an validation/deployment in processing.") Deploy
          .row.alert(style="display:none;")
          hr
          .row.block-body
            ul.list-unstyled
              for fileInfo in changeSet.files
                li(ref="#{fileInfo.packName}",mode="pack") 
                  h5 #{fileInfo.packName}
                    button.btn-xs.btn.controlBtn.controlFold(type="button",style="margin-left:4px;")
                      span.glyphicon.glyphicon-chevron-right
                    em(style="margin-left: 4px;") contains #{fileInfo.files.length} files
                  for fileName in fileInfo.files
                    li(style="margin-left:15px;display:none;",ref="#{fileInfo.packName}",mode="file") 
                      em #{fileName}
        .row 
          .row
            .col-md-3
              h4 Archives
          hr
          .row.alert.archive-alert(style="display:none;")
          .row.block-body
            if archives && archives.length>0
              .col-md-9
                table.table.table-condensed.table-hover
                  thead
                    tr
                      th Archive Name
                      th Created Date
                      th Status
                      th Action
                  tbody
                    for archive in archives
                      - var createdDate = moment(archive.createdDate).format('YYYY-MM-DD HH:mm:ss');
                      tr(id="#{archive._id}")
                        td 
                          a(href="/archive/#{archive._id}")
                            |#{archive.name}
                        td 
                          = createdDate
                        td 
                          if archive.status=='new'||archive.status=='inProcess'
                            i(title="Processing").icon-large.icon-spinner.icon-spin
                          else 
                            |#{archive.status}
                        td 
                          if archive.status=='done'
                            button.btn.btn-xs.btn-primary.bakvalidate.archive-validate(style="margin-left: 6px;") Validate
                            button.btn.btn-xs.btn-primary.bakdeploy.archive-deploy(style="margin-left: 6px;") Deploy
                            button.btn.btn-xs.btn-warning.archive-drop(style="margin-left: 6px;") Drop
                          else
                            button.btn.btn-xs.btn-warning(style="margin-left: 6px;",title="This is an validation/deployment in processing.") Validate
                            button.btn.btn-xs.btn-warning(style="margin-left: 6px;",title="This is an validation/deployment in processing.") Deploy
                            button.btn.btn-xs.btn-warning(disabled=true,style="margin-left: 6px;") Drop
                          if archive.status=='done'
                            a(href="#")
                              a.btn.btn-xs.btn-info.pull-right(href="https://s3-eu-west-1.amazonaws.com/migrationtool/#{session.user._id}/#{archive._id}.zip") Download

            else 
              .col-md-7 No Data.
        .row 
          .row
            .col-md-3
              h4 Validates
          hr
          .row.alert.validate-alert(style="display:none;")
          .row.block-body
            if validates && validates.length>0
              .col-md-9 
                table.table.table-condensed
                  thead
                    tr
                      th Validation Name
                      th Created Date
                      th Status
                      th Action
                  tbody
                    for validate in validates
                      - var createdDate = moment(validate.createdDate).format('YYYY-MM-DD HH:mm:ss');
                      tr(id="#{validate._id}")
                        td 
                          a(href="/validation/#{validate._id}")
                            |#{validate.name}
                        td
                          = createdDate
                        td
                          if validate.status=='new'||validate.status=='inProcess'
                            i(title="Processing").icon-large.icon-spinner.icon-spin
                          else 
                            |#{validate.status}
                        td
                          if validate.status=='inProcess'
                            button.btn.btn-xs.btn-info(style="margin-left: 6px;") Cancel
                            button.btn.btn-xs.btn-warning(disabled=true,style="margin-left: 6px;") Drop
                          else
                            button.btn.btn-xs.btn-warning.validation-drop(style="margin-left: 6px;") Drop
            else 
              .col-md-7 No Data.
        .row 
          .row
            .col-md-3
              h4 Deploys
          hr
          .row.alert.deploy-alert(style="display:none;")
          .row.block-body
            if deploys && deploys.length>0
              .col-md-9 
                table.table.table-condensed
                  thead
                    tr
                      th Deployment Name
                      th Created Date
                      th Status
                      th Action
                  tbody
                    for deploy in deploys
                      - var createdDate = moment(deploy.createdDate).format('YYYY-MM-DD HH:mm:ss');
                      tr(id="#{deploy._id}")
                        td 
                          a(href="/deployment/#{deploy._id}")
                            |#{deploy.name}
                        td
                          = createdDate
                        td
                          if deploy.status=='new'||deploy.status=='inProcess'
                            i(title="Processing").icon-large.icon-spinner.icon-spin
                          else 
                            |#{deploy.status}
                        td
                          if deploy.status=='inProcess'
                            button.btn.btn-xs.btn-info(style="margin-left: 6px;") Cancel
                            button.btn.btn-xs.btn-warning(disabled=true,style="margin-left: 6px;") Drop
                          else
                            button.btn.btn-xs.btn-warning.deployment-drop(style="margin-left: 6px;") Drop
            else 
              .col-md-7 No Data.
  include single-name
  include single-select
  include sfconn-select