extends ../layouts/layout-default

block stylesheet
  link(rel='stylesheet', href='/styles/customer.css', type='text/css' )

block scripts
  script(type='text/javascript',src="/js/sfconn/changeSetInfo.js")

block content
  input#sfconnId(type="hidden",value="#{sfconn._id}")
  .container
    .panel
      .panel-heading 
        .col-md-10
          h2.pull-left #{title}
            small (#{sfconn.username})
          button.btn.btn-warning.btn-xs(style="margin-top: 30px;margin-left: 4px;",onclick="window.open('/sfconn/logout','_self');")
            span.glyphicon.glyphicon-remove-sign(style="margin-right: 5px;")
            |Log out
      .panel-body
        .row
          .row 
            .col-md-3
              h4 Files
                button.btn.btn-xs.btn-info(type="button",style="margin-left:4px;",onclick="window.open('/sfconn/#{sfconn._id}/changeSets?csId=#{changeSet._id}','_self')") Edit
            .col-md-7.pull-right(style="padding-top: 3px;text-align:center;")
              button.btn.btn-sm.btn-info(type="button",style="margin-left:4px;") Archive
              button.btn.btn-sm.btn-info(type="button",style="margin-left:4px;") Validate
              button.btn.btn-sm.btn-info(type="button",style="margin-left:4px;") Deploy
          hr
          .row.block-body
            ul.list-unstyled
              for fileInfo in changeSet.files
                li(ref="#{fileInfo.packName}",mode="pack") 
                  h5 #{fileInfo.packName}
                    button.btn-xs.btn.controlBtn.controlFold(type="button",style="margin-left:4px;")
                      span.glyphicon.glyphicon-chevron-right
                  for fileName in fileInfo.files
                    li(style="margin-left:15px;display:none;",ref="#{fileInfo.packName}",mode="file") 
                      em #{fileName}
        .row 
          .row
            .col-md-3
              h4 Archives
          hr
          .row.block-body
            if changeSet.archives
              .col-md-7 Data.
            else 
              .col-md-7 No Data.
        .row 
          .row
            .col-md-3
              h4 Validates
          hr
          .row.block-body
            if changeSet.validates
              .col-md-7 Data.
            else 
              .col-md-7 No Data.
        .row 
          .row
            .col-md-3
              h4 Deploys
          hr
          .row.block-body
            if changeSet.deploys
              .col-md-7 Data.
            else 
              .col-md-7 No Data.
        .row 
          .row
            .col-md-3
              h4 History
          hr
          .row.block-body
            .col-md-7(style="height: 150px;overflow: auto;") #{changeSet.historyLog}