extends ../layouts/layout-default

block stylesheet
  link(rel='stylesheet', href='/styles/customer.css', type='text/css' )
block scripts
  script(type='text/javascript',src="/js/sfconn/sfmain.js")
  script(type='text/javascript',src="/js/libs/forcetk.js")
  script(type='text/javascript',src="/js/libs/jquery.popup.js")  

block content
  .container
    #popupWindow(style="display:none;")
    .page-header
      h2 
        span Salesforce Connections
        button.btn.btn-info.btn-xs(data-toggle="modal",data-target="#single-select",style="margin-left:10px;")
          span.glyphicon.glyphicon-plus-sign
          span(style="margin-left:6px;")
            |New Organization 
    if SFConnections && SFConnections.length>0
      table.table.table-hover.table-condensed
        thead
          th Org Name
          th User Name
          th Org Email
          th Org Type
          th Action
          th Last File Sync Date
          th Created Date
        tbody
          for oriSFConn in SFConnections
            - var createdDate = moment(oriSFConn.createdDate).format('YYYY-MM-DD HH:mm:ss');
            - var lastFileSyncDate = oriSFConn.lastFileSyncDate != null ? moment(oriSFConn.lastFileSyncDate).format('YYYY-MM-DD HH:mm:ss') : '';
            tr(ref="#{oriSFConn._id}")
              td #{oriSFConn.orgName}
              td 
                a(href="/sfconn/#{oriSFConn._id}") #{oriSFConn.userName}
              td #{oriSFConn.userEmail}
              td 
                if oriSFConn.conn_env == 'test.salesforce.com'
                  |sandbox
                else
                  |production
              td
                a.btn.btn-xs.btn-warning.sfconn-del Delete
                a(style="margin-left:4px;",data-toggle="modal",data-target="##{oriSFConn._id}").btn.btn-xs.btn-info Rename 
                //a(style="margin-left:4px;").btn.btn-xs.btn-primary.sfconn-cs ChangeSets
                a(style="margin-left:4px;").btn.btn-xs.btn-primary.sfconn-oauth Login 
                if oriSFConn.syncFileStatus=='InProgress'
                  a(style="margin-left:4px;",title="FileSync Processing.").btn.btn-xs.btn-warning SyncFiles
                else
                  a(style="margin-left:4px;").btn.btn-xs.btn-primary.sfconn-sf SyncFiles
              td
                = lastFileSyncDate
              td
                = createdDate
      for oriSFConn in SFConnections
        .modal.fade.sfconnEdit(id="#{oriSFConn._id}",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                h4.modal-title SFConnection
                  small &nbsp; Rename
              .modal-body
                form.form-horizontal.sfconnEditForm
                  input(type="hidden",value="put",name="_method")
                  .form-group
                    label.col-sm-3.control-label Org Name
                    .col-sm-8
                      input.form-control(name="orgName",placeholder="Org Name",value="#{oriSFConn.orgName}") 
                  .form-group
                    .validInfo.alert.alert-success.col-sm-8.col-sm-offset-3(style='display:none;').
                        You org connects well.
                    .unValideInfo.alert.alert-danger.col-sm-8.col-sm-offset-3(style='display:none;').
                        Can't connect to Salesforce.Please check your input infos.
              .modal-footer
                .col-sm-offset-3.col-sm-8(style="text-align: right;")
                  button.btn.btn-primary.save(style="margin-right: 10px;") Save
  include single-select